<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <div class="form-group" [class.has-sucess]="iptAdress.valid && (iptAdress.dirty || iptAdress.touched)" [class.has-error]="!iptAdress.valid && (iptAdress.dirty || iptAdress.touched)">
        <form #form=ngForm novalidate>
            <mat-form-field>
                <input matInput placeholder="Nome" required minlength="5" #iptAdress="ngModel" autocomplete="off" [(ngModel)]="product.name" name="name">
            </mat-form-field>
            <mat-form-field>
                <input type="number" matInput placeholder="Preço (R$)" required autocomplete="off" [(ngModel)]="product.price" name="price">
            </mat-form-field>
        </form>
    </div>
    <button mat-raised-button (click)="createProduct()" [disabled]="!form.valid" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()">
        Calcelar
    </button>
</mat-card>