<mat-card>
  <mat-card-title>Exclusão do Produto</mat-card-title>
  <form>
    <mat-form-field>
      <mat-form-field>
        {{ product?.name }}
        <input matInput placeholder="Nome" name="name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nome" name="price" />{{ product?.price }}
      </mat-form-field>
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="deleteProduct()" color="primary">
    Deletar
  </button>

  <button mat-raised-button (click)="cancel()">
    Calcelar
  </button>
</mat-card>
