<div class="container" style="max-width: 400px; margin: auto">
    <form autocomplete="off">
        <mat-card-title class="title">OAuth2</mat-card-title>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <po-input type="email" name="usuario" p-label="E-mail" ngModel required #usuario>
                </po-input>

            </div>

            <div class="ui-g-12">
                <po-input type="password" name="senha" p-label="Senha" ngModel required #senha>
                </po-input>
            </div>

            <div class="ui-g-12">
                <po-button type="submit" p-label="Login" (p-click)="login(usuario, senha)"></po-button>
            </div>

        </div>
    </form>

</div>